h1
    text-align center

.trainer
    margin 60px auto 0
    padding 0 30px
    max-width 900px

.wrap-categiries
    margin-top 30px
    display flex

    &__item:first-child
        margin-right 20px

    label
        margin-right 20px

.wrap-btn
    margin-top 20px

.show-number
    margin 20px 0
    font-size 20px
    font-weight bold

.wrap-input, .show-result
    margin-top 20px

.helper
    margin-top 30px
    line-height .7
